<!DOCTYPE html>
<html lang="en">
<head>
    {{head}}
</head>
<body>
    <header>
        <a href="/"><h1>Annoy-Friend</h1></a>
        <p>Automate emails to (not so) playfully annoy your friends!</p>
    </header>
    <nav>
        <a href="/about">About</a>
        {{login}}
    </nav>
    <main>
        <h2>{{title}}</h2>
        <p>
            in p thing
        </p>
        <div class="cta">More coming soon! This is just a placeholder for now.</div>
        <div class="cta">
            <a href="/about">Learn More</a>
        </div>
    </main>
    {{footer}}
</body>
</html>